<!--
  Copyright (c) 2020 Cynthia K. Rey
  Licensed under the Open Software License version 3.0
-->
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'/>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'/>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no'/>
    <title>#<%= data.channel_name %> Transcript</title>

    <!--suppress JSUnresolvedLibraryURL-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/styles/base16/solarized-dark.min.css" integrity="sha512-kBHeOXtsKtA97/1O3ebZzWRIwiWEOmdrylPrOo3D2+pGhq1m+1CroSOVErIlsqn1xmYowKfQNVDhsczIzeLpmg==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <style><%- assets.style %></style>
    <script>
        <%- assets.script %>
    </script>
</head>
<body class='theme-dark'>
    <%- include('header.ejs', { data: data }) %>
    <main>
        <div class='placeholder'></div>
        <div class='welcome'>
            <h1>Welcome to <b>#<%= data.channel_name %></b>!</h1>
            <div>This is the start of the #<%= data.channel_name %> channel.</div>
        </div>
        <!--suppress HtmlUnknownTag-->
        <discord-messages>
            <%- include('messages.ejs', { data: data, markdown: markdown }) %>
        </discord-messages>
    </main>
</body>
</html>
